@model PaintingModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="galeryPage.css" />


    <title></title>
</head>

<body>

    <div id="maindiv" style="width:75vw; margin-right:auto; margin-left:auto;">

        <div id="image" class="tmp">
            <img id="img" src="~/Paintings/@Model.FileName" class="picture" />
            @if (ViewBag.leftId != Model.Id)
            {
                <a class="left" asp-route-id="@ViewBag.leftId"></a>
            }
            @if (ViewBag.rightId != Model.Id)
            {
                <a class="right" asp-route-id="@ViewBag.rightId"></a>
            }
        </div>

        <div class="article">
            <h3>@Model.PictureName</h3>
            <p>@Model.Description</p>
        </div>
    </div>



    @await Html.PartialAsync("BottomPartial", new Dictionary<string, (string cont, string act)>
{
 { "Головна сторінка", (cont:"Home", act:"Index") }
})




</body>

</html>
