@model int
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="galeryPage.css" />


    <title></title>
</head>

<body>

    <div id="maindiv" runat="server" style="width:75vw; ">

        <div id="image" runat="server" class="tmp">
            <a class="left" runat="server"></a>
            <a class="right" runat="server"></a>
        </div>

    </div>


    <h1>@Model</h1>



    <div class="bot">
        <div class="bot-text">

            <a href="Default.aspx">Головна сторінка</a>
            <p>Сайт Галабурди Антона</p>
        </div>
    </div>


</body>

</html>
