@model List<PaintingModel>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="mainPage.css" />


    <title></title>
</head>

<body>

    @foreach (PaintingModel painting in Model)
    {
        <h1>@painting.PictureName</h1>
    }


</body>

</html>
