
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="infomationPage.css" />


    <title></title>
</head>

<body>
    <div>

        <a class="top" asp-controller="Home" asp-action="Index">
            <a asp-controller="Home" asp-action="Index" style="height: 100%; width: 100%;">
                <div class="top-text">
                    <h1>Ваш лист отримано та буде прийнято до уваги</h1>
                    <p>Натисніть сюди, щоб повернутись на головну.</p>
                </div>
            </a>
        </a>

        <div style="width: 75vw; height:6vh;"></div>


    </div>


</body>

</html>
